global
    maxconn 200
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

# Dashboard de monitoring
# http://localhost:7000
listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 5s
    stats show-legends
    stats show-node

# Port ECRITURE → route vers le PRIMARY uniquement
frontend postgres_write
    bind *:5000
    default_backend postgres_primary

backend postgres_primary
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server prod1 patroni-prod1:5432 maxconn 100 check port 8008
    server prod2 patroni-prod2:5432 maxconn 100 check port 8008
    server dr    patroni-dr:5432    maxconn 100 check port 8008

# Port LECTURE → route vers les REPLICAS
# Fallback vers le PRIMARY si aucun replica dispo
# /read-only répond 200 sur replicas ET primary
frontend postgres_read
    bind *:5001
    default_backend postgres_replicas

backend postgres_replicas
    balance roundrobin
    option httpchk GET /read-only
    http-check expect status 200
    default-server inter 3s fall 3 rise 2
    server prod1 patroni-prod1:5432 maxconn 100 check port 8008
    server prod2 patroni-prod2:5432 maxconn 100 check port 8008
    server dr    patroni-dr:5432    maxconn 100 check port 8008
